<div class="container">
	<div class="row">&nbsp;</div>
	<div class="row">
		<div class="col-md-2">{{link-to "Back to job list" "todos.index" }}</div>
	</div>
	<div class="row">
		<div class="col-md-3">&nbsp;</div>
		<div class="col-md-6">
			<h2>Edit Job</h2>
			{{partial "todos/form"}}
		</div>
		<div class="col-md-3">&nbsp;</div>
	</div>

</div>




