<div class="container">
	<div class="row">&nbsp;</div>
	<div class="row">
		<div class="col-md-2">{{link-to "Job list" "todos.index" }}</div>
	</div>
	<div class="row">&nbsp;</div>
	<div class="row">
		<div class="col-md-3"><strong>Job Title</strong></div>
		<div class="col-md-9">{{model.label}}</div>

		<div class="col-md-3"><strong>Job Details</strong></div>
		<div class="col-md-9">{{model.text}}</div>

		<div class="col-md-3"><strong>Job Completed</strong></div>
		<div class="col-md-9">{{model.done}}</div>
	</div>	
	
</div>