<div class="container-fluid">

	<div class="row header">
		<div class="col-md-3 col-lg-3">
			<h2>Karyalaya</h2>
		</div>
		<div class="md-col-7 col-lg-7"></div>
		<div class="col-col-2 col-lg-2">
			{{#if session.isAuthenticated}}
				<button class="btn btn-default" style="margin-top: 30px;"><a {{action 'invalidateSession'}}>Logout</a></button>
			{{else}}
			{{#link-to 'login'}}<button class="btn btn-default" style="margin-top: 30px;">Login</button>{{/link-to}}

		{{/if}}

		</div>

	</div>

</div>

{{footer-file}}
{{outlet}}