<div class="container-fluid">
	<div class="row" style="min-height: 50px;">
		&nbsp;
	</div>
	<div class="row">
		<div class="col-md-2">&nbsp;</div>
		<div class="col-md-4">
			<h2>First time users?</h2>
			<h4>Register here</h4>
			{{#link-to 'register'}}<button class="btn btn-primary"> I want to post a job</button>{{/link-to}}
			{{#link-to 'register'}}<button class="btn btn-primary"> I want to get hired</button>{{/link-to}}
		</div>
		<div class="col-md-4">
			<h3 class="promotitle">Hire expert freelancers for your job!</h3>
			<p class="promotext">
				Millions of business use freelancers to turn <br/>
				their ideas into earning platform.
			</p>
		</div>
		<div class="col-md-2">&nbsp;</div>
	</div>
</div>
